@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@layer base {
  @font-face {
    font-family: "outfit";
    src: url(fonts/Outfit-VariableFont_wght.ttf) format("woff2");
  }
  @font-face {
    font-family: "mdMed";
    src: url(fonts/DMSans-Medium.ttf) format("woff2");
  }
  @font-face {
    font-family: "mdReg";
    src: url(fonts/DMSans-Regular.ttf) format("woff2");
  }
  @font-face {
    font-family: "mdSemi";
    src: url(fonts/DMSans-SemiBold.ttf) format("woff2");
  }

  @font-face {
    font-family: "mdBold";
    src: url(fonts/DMSans-Bold.ttf) format("woff2");
  }

  @font-face {
    font-family: "BrandFont";
    src: url(fonts/Raleway-SemiBold.ttf) format("woff2");
  }

  @font-face {
    font-family: "afacad";
    src: url(fonts/Afacad-Regular.ttf) format("woff2");
  }

  @font-face {
    font-family: "kanit";
    src: url(fonts/Kanit-Regular.ttf) format("woff2");
  }
}

:root {
  scrollbar-color: rgb(0, 0, 0) white;
  scrollbar-width: thin;
}

.outer-shadow {
  box-shadow: 6px 8px 65px -26px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 6px 8px 65px -26px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 6px 8px 65px -26px rgba(0, 0, 0, 0.75);
}
